body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand-logo {
  box-sizing: border-box;
  height: 50px;
  width: auto;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-around;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
